{% extends 'base.html.twig' %}

{% block title %}Edit Valeur{% endblock %}

{% block body %}
    <h1>Edit Valeur</h1>

    {{ include('valeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('valeur_index') }}">back to list</a>

    {{ include('valeur/_delete_form.html.twig') }}
{% endblock %}
