{% extends 'base.html.twig' %}

{% block title %}New ValeurCapteur{% endblock %}

{% block body %}
    <h1>Create new ValeurCapteur</h1>

    {{ include('valeur_capteur/_form.html.twig') }}

    <a href="{{ path('valeur_capteur_index') }}">back to list</a>
{% endblock %}
