{% extends 'base.html.twig' %}

{% block title %}ValeurCapteur{% endblock %}

{% block body %}
    <h1>ValeurCapteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdValCap</th>
                <td>{{ valeur_capteur.idValCap }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('valeur_capteur_index') }}">back to list</a>

    <a href="{{ path('valeur_capteur_edit', {'idValCap': valeur_capteur.idValCap}) }}">edit</a>

    {{ include('valeur_capteur/_delete_form.html.twig') }}
{% endblock %}
