{% extends 'base.html.twig' %}

{% block title %}Modifier Intervalle{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="col-4">
    <center><h1>Modifier {{intervalle.idIntervalle}}</h1></center>

    {{ include('intervalle/_form.html.twig', {'button_label': 'mettre à jour'}) }}

    <a href="{{ path('intervalle_index') }}">retour à la liste</a>

    <!-- {{ include('intervalle/_delete_form.html.twig') }} -->
</div>
</div>
{% endblock %}
