{% extends 'base.html.twig' %}

{% block title %}creer un nouveau Intervalle{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="col-4">
    <center><h1>ajouter Intervalle</h1></center>

    {{ include('intervalle/_form.html.twig') }}

    <a href="{{ path('intervalle_index') }}">retour à la liste</a>
</div>
</div>
{% endblock %}
