<form method="post" action="{{ path('capteur_delete', {'idCapteur': capteur.idCapteur}) }}"
    onsubmit="return confirm('Vous voulez vraiment supprimer ce Capteur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capteur.idCapteur) }}">
    <button class="btn" style="background-color:brown;color:white;">Supprimer</button>
</form>
