<form method="post" action="{{ path('capteur_delete', {'idCapteur': capteur.idCapteur}) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capteur.idCapteur) }}">
    <button class="btn" style="background-color:brown;color:white;">Supprimer</button>
</form>
