{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" style="background-color:rgb(93, 160, 104);color:white;">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
