{% extends 'base.html.twig' %}

{% block title %}Modifier Capteur{% endblock %}

{% block body %}
    <h1>Modifier Capteur</h1>

    {{ include('capteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('capteur_index') }}" >retour à la liste</a>

    {{ include('capteur/_delete_form.html.twig') }}
{% endblock %}
