{% extends 'base.html.twig' %}

{% block title %}Modifier Capteur{% endblock %}

{% block body %}
<div class="container" align="center" >
    <div class="col-4">
    <center><h1>Modifier Capteur</h1></center>

    {{ include('capteur/_form.html.twig', {'button_label': 'mettre à jour'}) }}

    <a href="{{ path('capteur_index') }}" >retour à la liste</a>

    <!-- {{ include('capteur/_delete_form.html.twig') }} -->
</div>
</div>
{% endblock %}
