{% extends 'base.html.twig' %}

{% block title %}Nouveau Capteur{% endblock %}

{% block body %}
    <h1>Creer un nouveau Capteur</h1>

    {{ include('capteur/_form.html.twig') }}

    <a href="{{ path('capteur_index') }}" >retour à la liste</a>
{% endblock %}
