{% extends 'base.html.twig' %}

{% block title %}Nouveau Capteur{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="col-4">
    <center><h1>ajouter un Capteur</h1></center>

    {{ include('capteur/_form.html.twig') }}

    <a href="{{ path('capteur_index') }}" >retour à la liste</a>
</div>
</div>
{% endblock %}
