{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="col-4">
    <center><h1>modifier utilisateur</h1></center>

    {{ include('user/_form.html.twig', {'button_label': 'enregistrer'}) }}

    <a href="{{ path('admin_index') }}">retour à la liste</a>

    <!-- {{ include('user/_delete_form.html.twig') }} -->
</div>
</div>
{% endblock %}
